/* Google Web Fonts */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url('fonts/NotoSans.woff') format('woff');
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
}

.navbar-brand {
	height: 100%;
	padding: 19px;
}

.panel-title {
	font-weight: normal;
	color: #FFFFFF;
}

.no-overflow {
	overflow: hidden;
}

.navbar-btn .fa {
    vertical-align: -10%;
}

.text-large {
    font-size: 16px;
    font-weight: bold;
}

.input-group-btn {
    vertical-align: top;
}

/*****************************************/
/**       CUSTOMIZAÇÃO TAGS INPUT       **/
/*****************************************/

.bootstrap-tagsinput {
    display: block;
    border-radius: 0;
    min-height: 34px;
    transition: border-color 0.15s ease-in-out 0s,
                box-shadow 0.15s ease-in-out 0s;
}

.bootstrap-tagsinput.focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
                0px 0px 8px rgba(102, 175, 233, 0.6);
}

.bootstrap-tagsinput input {
    margin: 0 6px;
    padding: 0;
}

/*****************************************/
/**           BOTÃO EXECUTAR            **/
/*****************************************/

#run {
    position: relative;
}

#run .fa-space-shuttle {
	transition: opacity .7s .2s ease-out;
	position: absolute;
	left: 12px;
}

#run .fa-spinner {
    transition: opacity .7s ease-in-out;
    opacity: 0;
    position: relative;
}

#run.running .fa-space-shuttle {
	transition: left 1s ease-in, opacity 0s 1s ease-out;
    left: 200px;
    opacity: 0
}

#run.running .fa-spinner {
    opacity: 1;
}

/*****************************************/
/**          ITENS DA PRODUÇÃO          **/
/*****************************************/

.production-rule .left,
.production-rule .arrow {
    display: inline-block;
}

.production-rule .left {
    min-width: 50px;
    width: 0%;
}

.production-rule .arrow {
    line-height: 30px;
    min-width: 20px;
    width: 0%;
}

.production-rule .right {
    width: 80%;
    width: calc(100% - 78px);
}
